html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
*::-webkit-scrollbar{
    appearance: none;
    width: 6px;
    height: 8px;
}

*::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

*::-webkit-scrollbar-thumb{
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    transition: color 0.2s ease;
}

*:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
}